<!-- mime type & size restriction -->
<!-- <input #file="fileControl" [fileInput]="['pdf', 1]" (fileChanged)="onFileChanged($event)"
    (error)="onFileInputError($event)" type="file"> -->

<!-- only mime type restriction -->
<!-- <input #file="fileControl" fileInput="pdf" (fileChanged)="onFileChanged($event)"
    (error)="onFileInputError($event)" type="file"> -->


<input fileInput [size]="1" [mime]="['pdf', 'png', 'jpeg']" (fileChanged)="onFileChanged($event)"
    (error)="onFileInputError($event)" type="file">

<section class="preview-container" *ngIf="finDirective?.value">

    <div class="image-preview" *ngIf="finDirective.isImage; else filePreview">
        <img [src]="finDirective?.fileUrl" [alt]="finDirective?.fileName">
    </div>

    <ng-template #filePreview>
        <div class="file-preview">
            {{ finDirective?.fileName }}
        </div>
    </ng-template>

    <div>
        <button (click)="finDirective.triggerChange()">Change</button>
        <button (click)="finDirective.removeFile()">Remove</button>
    </div>
</section>