<section class="container">

    <div>
        Picture
        <br>
        <input #img type="file">
    </div>


    <div class="img-container hide">
        <img>
    </div>


</section>


<hr />

<section class="container">

    <div>
        Data File
        <br>
        <input type="file">
    </div>

</section>

<hr />

<section class="container">

    <div>
        Company Picture
        <br>
        <input #img type="file">
    </div>

    <div class="img-container hide">
        <img>
    </div>

</section>