<!-- @example 1: element selector -->
<!-- <input type="file"> -->

<!-- @example 2: attribute selector -->
<!-- <input type="file"> -->

<!-- @example 3: attribute value selector -->
<!-- <input type="file"> -->
<!-- <input type="text"> -->

<!-- @example 4: class selector -->
<!-- <input class="form-control" type="file"> -->

<!-- @example 5: not selector -->
<!-- <input type="file"> -->
<!-- <input type="text"> -->

<!-- @example 6: and selector -->
<!-- <input class="form-control" type="file"> -->
<!-- <input type="file"> -->

<!-- @example 7: or selector -->
<!-- <input class="form-control" type="file"> -->
<!-- <input type="file"> -->

<!-- @example 8: custom attribute selector -->
<!-- <input fileInput type="file"> -->

<!-- @example 9: component selector -->
<!-- <app-road></app-road> -->

<!-- @example 10: component attribute selector -->
<app-road fileInput></app-road>